.App {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
}

body{
  background-color: #33285F;
}

.hero{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 860px;
}

p{
  font-size: 1.3rem;
}

.login{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 860px;
}

.connect{
  margin-top: -5rem;
  color: white;
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  padding: 13px 50px 13px;
  border: 1px solid #FFB3B3;
  border-radius: 14px;
  cursor: pointer;
  position: relative;
  background-color: #FFB3B3;
  transition-duration: 0.25s;
}

.connect:hover{
  border: 1px solid #ffb3b3ab;
  background-color: #ffb3b3ab;
}