.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  flex-direction: column;
}
p{
  font-size: 1.3rem;
}
.connect{
  margin: 1rem;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.disconnect{
  margin: 1rem;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}