.App {
  font-family: 'Poppins';
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  flex-direction: column;
  color: white;
}

body{
  background-color: #33285F;
}

.hero{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p{
  font-size: 1.3rem;
}
.connect{
  margin-top: -5rem;
  color: white;
  font-size: 24px;
  font-weight: 800;
  font-style: bold;
  letter-spacing: -0.4px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid #FFB3B3;
  border-radius: 14px;
  cursor: pointer;
  position: relative;
  background-color: #FFB3B3;
  transition-duration: 0.25s;
}

.connect:hover{
  border: 1px solid #ffb3b3ab;
  background-color: #ffb3b3ab;
}